In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
true_news=pd.read_csv('True.csv')
fake_news=pd.read_csv('Fake.csv')

In [3]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true_news.shape

(21417, 4)

In [6]:
fake_news.shape

(23481, 4)

In [7]:
true_news['label']=1
fake_news['label']=0

In [8]:
true_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
true_news.isna().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [10]:
news=pd.concat([true_news,fake_news],axis=0)

In [11]:
news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [12]:
news=news.drop(['title','subject','date'],axis=1)
news

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

[44898 rows x 2 columns]

In [13]:
news=news.sample(frac=1)

In [14]:
news.head()

                                                    text  label
2031   Republicans are hell bent on repealing Obamaca...      0
18611  Stories of governments removing citizens from ...      0
253    WASHINGTON (Reuters) - The U.S. Congress moved...      1
1509   The following statements were posted to the ve...      1
20363  (Reuters) - Over 7.4 million homes and busines...      1

In [15]:
news=news.reset_index()

In [16]:
news

       index                                               text  label
0       2031  Republicans are hell bent on repealing Obamaca...      0
1      18611  Stories of governments removing citizens from ...      0
2        253  WASHINGTON (Reuters) - The U.S. Congress moved...      1
3       1509  The following statements were posted to the ve...      1
4      20363  (Reuters) - Over 7.4 million homes and busines...      1
...      ...                                                ...    ...
44893  23000  21st Century Wire says Defense News said that ...      0
44894  15971  LONDON (Reuters) - Damian Green, number two in...      1
44895  12364  The Left s suppression of speech and viewpoint...      0
44896  15764  GENEVA (Reuters) - The United Nations human ri...      1
44897  15871  LONDON (Reuters) - British defense minister Mi...      1

[44898 rows x 3 columns]

In [17]:
news=news.drop('index',axis=1)

In [18]:
news

                                                    text  label
0      Republicans are hell bent on repealing Obamaca...      0
1      Stories of governments removing citizens from ...      0
2      WASHINGTON (Reuters) - The U.S. Congress moved...      1
3      The following statements were posted to the ve...      1
4      (Reuters) - Over 7.4 million homes and busines...      1
...                                                  ...    ...
44893  21st Century Wire says Defense News said that ...      0
44894  LONDON (Reuters) - Damian Green, number two in...      1
44895  The Left s suppression of speech and viewpoint...      0
44896  GENEVA (Reuters) - The United Nations human ri...      1
44897  LONDON (Reuters) - British defense minister Mi...      1

[44898 rows x 2 columns]

## Text Preprocessing

In [19]:
import re

In [20]:
news['text']=news['text'].str.lower()
news.head()

                                                text  label
0  republicans are hell bent on repealing obamaca...      0
1  stories of governments removing citizens from ...      0
2  washington (reuters) - the u.s. congress moved...      1
3  the following statements were posted to the ve...      1
4  (reuters) - over 7.4 million homes and busines...      1

In [21]:
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

news['text']=news['text'].apply(remove_html_tags)

In [22]:
def remove_url(text):
    pattern=re.compile(r'https?://\S|www\.\S+')
    return pattern.sub(r'',text)

news['text']=news['text'].apply(remove_url)

In [23]:
import string
punctuations=string.punctuation
punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
def remove_punc(text):
    return text.translate(str.maketrans('','',punctuations))

news['text']=news['text'].apply(remove_punc)

In [25]:
# from textblob import TextBlob

# def correct_word(text):
#     return TextBlob(text)

# news['text']=news['text'].apply(correct_word)

In [26]:
news

                                                    text  label
0      republicans are hell bent on repealing obamaca...      0
1      stories of governments removing citizens from ...      0
2      washington reuters  the us congress moved rapi...      1
3      the following statements were posted to the ve...      1
4      reuters  over 74 million homes and businesses ...      1
...                                                  ...    ...
44893  21st century wire says defense news said that ...      0
44894  london reuters  damian green number two in the...      1
44895  the left s suppression of speech and viewpoint...      0
44896  geneva reuters  the united nations human right...      1
44897  london reuters  british defense minister micha...      1

[44898 rows x 2 columns]

In [28]:
def remove_newlinechar(text):
    return re.sub(r'\n','',text)

news['text']=news['text'].apply(remove_newlinechar)

In [29]:
x=news['text']
y=news['label']

In [30]:
x

0        republicans are hell bent on repealing obamaca...
1        stories of governments removing citizens from ...
2        washington reuters  the us congress moved rapi...
3        the following statements were posted to the ve...
4        reuters  over 74 million homes and businesses ...
                               ...
44893    21st century wire says defense news said that ...
44894    london reuters  damian green number two in the...
44895    the left s suppression of speech and viewpoint...
44896    geneva reuters  the united nations human right...
44897    london reuters  british defense minister micha...
Name: text, Length: 44898, dtype: object

In [31]:
y

0        0
1        0
2        1
3        1
4        1
        ..
44893    0
44894    1
44895    0
44896    1
44897    1
Name: label, Length: 44898, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [33]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [34]:
xtrain.shape

(31428,)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

vector=TfidfVectorizer()

xtrain_vect=vector.fit_transform(xtrain)
xtest_vect=vector.transform(xtest)

In [38]:
from sklearn.ensemble import GradientBoostingClassifier

clf=GradientBoostingClassifier()
clf.fit(xtrain_vect,ytrain)

GradientBoostingClassifier()

In [40]:
ypred=clf.predict(xtest_vect)

accuracy=accuracy_score(ytest,ypred)
print(accuracy)

classification=classification_report(ytest,ypred)
print(classification)

confusion=confusion_matrix(ytest,ypred)
print(confusion)

0.9948032665181886
              precision    recall  f1-score   support

           0       1.00      0.99      1.00      7099
           1       0.99      1.00      0.99      6371

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

[[7050   49]
 [  21 6350]]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

Rclf=RandomForestClassifier()
Rclf.fit(xtrain_vect,ytrain)

In [ ]:
yRpred=Rclf.predict(xtest_vect)

accuracy=accuracy_score(ytest,yRpred)
print(accuracy)

classification=classification_report(ytest,yRpred)
print(classification)

confusion=confusion_matrix(ytest,yRpred)
print(confusion)